.welcome{
  color: #1abc9c;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  padding: 5vh;
}
.intro{
  width:55vw;
  background-color: black;
  border-radius: 25px;
  color: white;
  padding:10px;
  margin-bottom: 10vh;
}
.filler {
  height: 150vh;
  background-color: black;
}

.more_content{
  height: 150vh;
  background-color: red;
}